---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Chucky's">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          👋 I'm Charles.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          A Software Engineer <br class="hidden lg:block" />who likes solving
          interesting problems.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          I have experience working with:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>React.js, Vue.js, Svelte</li>
          <li>Enterprise Application Development</li>
          <li>Cloud Computing and DevOps</li>
          <li>Website, Desktop and Mobile Development</li>
          <li>and more...</li>
        </ul>
        <Button
          text="Check out my linkedin"
          link="https://www.linkedin.com/in/charles-ssekitto-842a4315b/"
          target={true}
        />
      </div>

      <div
        class="relative justify-end w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <img
          src="/assets/images/profile_pic.png"
          loading="eager"
          decoding="auto"
        />
      </div>
    </div>
  </div>

  <!-- <Separator text="Check out my projects" />
  <Projects /> -->
  <Separator text="Some of my Blogs" />
  <Writings />
</Layout>
